body{
    background-color: violet;
}
        .login-btn{
            text-align: center;
        }
        .btn{
           margin-left: auto;
           margin-right: auto;
        }
        .login-div{
            margin-top: 30px;
        }
        .error{
            color: red;
        }
        #b1{
            margin-left: 400px;
        }
  